[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
fastapi = "*"
flask = "*"
gunicorn = "*"
elasticsearch = "*"
redis = "*"
pyjwt = "*"
flask-restx = "*"
werkzeug = "*"
flask-testing = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
